baseURL = "https://swapnilbawane.github.io/"
title = "Swapnil Bawane"
theme = "PaperMod"

[params]
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
